{% extends 'base.html' %}

{% block title %} Activity Suggestions {% endblock %}
{% block head %}
<style>
    .img-text {
        text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkblue;
    }

    #root {
        margin-top: 20px;
        margin-bottom: 20px;
    }

/*    #body {
        text-align: justify;*/
    }
</style>
{% endblock %}

{% block content %}
    <div id="root" align="center"></div>
{% endblock %}

{% block js %}
    <script src="/static/js/activities.jsx" type="text/jsx"></script>
{% endblock %}