<!DOCTYPE html>
<html>
  <head>
    <title>  {% block title %}BORED{% endblock %} </title>
    <link rel="stylesheet" href="static/styles.css">
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% for message in get_flashed_messages() %}
      <ul>
        <li>{{ message }}</li>
      </ul>
    {% endfor %}
    <div id="page-container">
      <div id="content-wrap">
        {% block content %} CONTENT GOES HERE! {% endblock %}
      </div>
      <footer id="footer">
        {% if session.get('user') %}
          <a href="/user-profile-{{ session['user']['user_id'] }}">View Profile</a>
          <a href="/logout"> Log Out</a>
        {% else %}
          <a href="/">Log In</a>
        {% endif %}
        <a href="/event-search">Search Events</a>
        <a href="/test">Test Page</a>
      </footer>
    </div>
  </body>
</html>