{% extends 'base.html' %}
{% block content %}

<form action="/register" id="registration-form" method="POST">
    Username: <input type="text" id="username" name="username" required><br>
    Password: <input type="password" id="password" name="password" required><br>
    eMail Address: <input type="text" id="email" name="email" required><br>
    First Name: <input type="text" id="fname" name="fname"><br>
    Last Name: <input type="text" id="lname" name="lname"><br>
    Zip Code: <input type="text" id="location" name="location"><br>
    Phone: <input type="text" id="phone" name="phone"><br>
    <input type="submit" id="user-registration" value="Save User">
</form>


{% endblock %}